<div class="main">
	<div class="main_banner">
		<div class="container clearfix">
			<div class="detailBox">
				<h1 class="detailBox_title">How Does it Work?</h1>
				<p class="detailBox_content">Scientific content has very specific characteristics and when a Researcher searches for some content or term, identifying searched scientific term is crucial to match to the right articles. Categorization of scientific content from the searched term hence requires a knowledge base of scientific terms with the ability to differentiate it from normally used English vocabulary. This recognition of scientific terms and entities can help to perform the accurate search.</p>
			</div>
		</div>
	</div>
</div>