.required{
	color: red;
}

.tip {
	color: red;
}

.hide {
	visibility: hidden;
}

.show {
	visibility: visible;
}

.main {
	@include fontstyle;
	.main_banner {
		background: url("../img/banner.jpg") no-repeat scroll;
		background-position: center top;
		background-size: cover;
		display: block;
		height: 450px;
		width: 100%;
		
		.clearfix {
			@include clearfix;
			position: relative;

			width: 900px;
			margin: 0 auto;

			.detailBox {
				float: right;
				background: #000000;
				color: #fff;
				width: 550px;
				padding: 30px;
				margin-top: 100px;
				margin-bottom: 40px;
				font-family: Lora, Palatino, Times, Times New Roman, serif;

				h1 {
					font-size: 30px;
					line-height: 1.2;
				}

				p {
					font-size: 16px;
					line-height: 1.5;
				}
			}	
		}	
	}
	

	.main_input {
		position: relative;
		background: #eee;
		padding: 60px 30px;
		@include clearfix;
		.query_text {
				textarea {
					  width: 100%;
					  min-height: 100px;
					  resize: none;
					  border: 1px solid #0099CC;
					  outline: none;
					  padding: 0.5rem;
					  color: #666;
					  box-shadow: inset 0 0 0.25rem #ddd;
					  &:focus {
					    outline: none;
					    border: 1px solid darken(#ddd, 5%);
					    box-shadow: inset 0 0 0.5rem darken(#ddd, 5%);
					  }
					  &[placeholder] { 
					    font-style: italic;
					    font-size: 0.875rem;
					  }
				}
				#the-count {
					  width: 60px;
					  background-color: #f9b18a;
					  padding: 0.1rem 0 0 0;
					  font-size: 0.875rem;
				}

		}

		.query_doi {

				label {
					font-style: italic;
					font-size: 18px;
					line-height: 1.15;
					color: #333;
				}

				#doi {
					margin-top: 15px;
					margin-bottom: 10px;
					width: 100%;
					box-sizing: border-box; 
				    padding: 8px;
				    outline: none;
				    border: 1px solid #0099CC;
				    -webkit-transition: all 0.30s ease-in-out;
				    -moz-transition: all 0.30s ease-in-out;
				}

		}

		form {
			margin: 0 auto;
			.queryWrapper {
				margin: 0px 25%;
			}

			.btnSubmit {
				margin: 45px 25%;
				color: #0099CC; 
				background-color: #fff; 
				border: 2px solid #0099CC; 
				border-radius: 5px; 
				outline: none;

				&:hover {font-weight:bold;}
				&:active {
				  box-shadow: 0 2px #0099CC;
				  transform: translateY(4px);
				  
				}
			}

		}
		.form_wrapper {
			width: 70%;
			float: right;
		}
		.queryForm {
			
		}

		//for first load
		.query_text {
				display: block;
		}


		.query_doi {
			display: none;	
		}

		.query_xml {
			display: none;

		}
		
	}
}
        .heading-wrapper{
            box-sizing: border-box;
            width: 30%;
            float: left;
            @include clearfix;

            .container-heading{
				box-sizing: border-box;
				display: block;
				width: 100%;
            
                h5{
                    font-size: 15px;
                    font-weight: 600;
                    color: #414A52;
                    text-transform: uppercase;
					display: inline-block;
                }
                
            }
            .sortby-wrapper{
                display: block;
				width: 100%;
				margin-top: 20px;
                
                select{
						font-size: 13px;
						width: 250px;
						margin-bottom: 30px;
						padding-bottom: 10px;
						transition: all 300ms;
						color: rgba(65, 74, 82, 0.5);
						background-color: #eee;
						border: 1px solid #d8d8d8;
						// border: none;
						border-bottom: solid 2px #7AE2DE;
						background-position: 280px 5px;
                   		outline: none;
                    option{
                        font-weight: normal;
                        display: block;
                        width: 250px;
                        white-space: pre;
                        min-height: 1.2em;
                        padding: 0px 2px 1px;
                    }
                }
            }
        }