
.tableWrapper {
  font-family: 'Nunito', sans-serif;
  color: #384047;
  background: #f0f3f8;

  table {
    width: 90%;
    margin: 10px auto;

    caption {
      font-size: 1.6em;
      font-weight: 400;
      padding: 10px 0;
    }
    thead {
        th {
          font-weight: 400;
          background: #8a97a0;
          color: #FFF;
        } 
    }

    tfoot {

      tr {
          background: none;
        td {
             padding: 10px 2px;
            font-size: 0.8em;
            font-style: italic;
            color: #8a97a0;
        }
      }
    }
  }
}



table {
  tr {
    background: #f4f7f8;
    border-bottom: 1px solid #FFF;
    margin-bottom: 5px;

    &:nth-child(even) {
      background: #e8eeef;
    }

    th, td {
      text-align: center;
      padding: 20px;
      font-weight: 300;
    }
  }  
}
