.main_result {
  position: relative;
  padding: 40px;
  .FileDetails {
    margin:10px 20px;
  }
}
.Hide {
   display: none;
}

.tableWrapper {
  font-family: 'Nunito', sans-serif;
  color: #384047;
  margin-top: 30px;
  .SearchContainer {
      position: relative;
      margin: 30px 0;
      .FilterInput {
        background: #fff;
        padding: 5px 60px 7px 5px;
        border: 1px solid #999999;
        line-height: normal;
        box-sizing: border-box;
        text-align: left;
        color: #666666;
        font-size: 13px;
        outline: none;
        margin-right: 5px;
      }
      .FilterLink {
        display: inline-block;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #fff;
        background-color: #414A52;
        padding: 9px 15px;
        text-decoration: none;
        cursor: pointer;
        display: n
      }
      .ClearFilter {
        background: url("../img/cross_icon.svg") no-repeat center center;
        background-size: 10px auto;
        height: 20px;
        width: 20px;
        position: absolute;
        left: 190px;
        top: 5px;
        cursor: pointer;
        display: none;
      }  
  }
  table {
    width: 100%;

    caption {
      font-size: 1.6em;
      font-weight: 400;
      padding: 10px 0;
    }
    thead {
        th {
          font-weight: 400;
          background: #8a97a0;
          color: #FFF;
        } 
    }

    tfoot {

      tr {
          background: none;
        td {
              padding: 10px 2px;
              font-size: 0.8em;
              font-style: italic;
              color: #8a97a0;
              text-align: left;
        }
      }
    }
  }
}



table {
  thead {
    tr {
      th {
        padding: 20px;
        text-align: center;
      }
    }
  }
  tbody {
      tr {
      background: #f4f7f8;
      border-bottom: 1px solid #FFF;
      margin-bottom: 5px;

      &:nth-child(even) {
        background: #e8eeef;
      }

      th, td {
        text-align: left;
        padding: 20px;
        font-weight: 300;
      }
    }  
  }
}
